.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  min-height: 1110px;
  height: auto;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 1109px;
  width: 505px;
  height: auto;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 27px 0 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: -1079px 512px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 27px 512px 0 auto;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 518px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 518px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 427px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 427px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-bottom: 12px;
    min-height: 1111px;
  }

  .u-section-1 .u-group-2 {
    width: 270px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1079px;
    margin-right: 283px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 212px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-bottom: 14px;
    min-height: 1109px;
  }

  .u-section-1 .u-group-2 {
    width: 140px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -1079px;
    margin-right: 167px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-right: 167px;
  }
}