<!DOCTYPE html>
<html style="font-size: 16px;" lang="ar-EG">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Website</title>
    <link rel="stylesheet" href="../../../Includes/Libraries/Bootstrap/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../css/Website.css" media="screen">
    <script class="u-script" type="text/javascript" src="../../../Includes/Libraries/JQuery/jquery.js" defer="">
    </script>
    <script class="u-script" type="text/javascript" src="../../../Includes/Libraries/Bootstrap/bootstrap.js" defer="">
    </script>
    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,500,600,700,800,900|Tajawal:200,300,400,500,700,800,900">
</head>

<body data-path-to-root="./" data-include-products="false" class="u-body u-xxl-mode" data-lang="ar">
    <section class="u-clearfix u-grey-10 u-section-1" id="sec-c474" style="height: 1000px;">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-container-style u-expanded-width u-group u-palette-2-base u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <h3 class="u-align-right u-text u-text-default u-text-1">Sample Headline</h3>
                </div>
            </div>
        </div>
    </section>
</body>

</html>