<!DOCTYPE html>
<html style="font-size: 16px;" lang="en-EG">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>write Web</title>
    <link rel="stylesheet" href="../../../Includes/Libraries/Bootstrap/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../css/write-Web.css" media="screen">
    <script class="u-script" type="text/javascript" src="../../../Includes/Libraries/JQuery/jquery.js" defer="">
    </script>
    <script class="u-script" type="text/javascript" src="../../../Includes/Libraries/Bootstrap/bootstrap.js" defer="">
    </script>

    <link id="u-theme-google-font" rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Cairo:200,300,400,500,600,700,800,900|Tajawal:200,300,400,500,700,800,900">
    <meta data-intl-tel-input-cdn-path="../../../Includes/Libraries/intlTelInput/">
</head>

<body data-path-to-root="./" data-include-products="false" class="u-body u-xxl-mode" data-lang="en">
    <section class="u-clearfix u-grey-10 u-section-1" id="section1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div
                        class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-size-33 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <iframe src="Website.html" width="100%" height="1000px"
                                style="border: none; overflow: hidden;"></iframe>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-21 u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-3">
                            <div class="u-container-style u-expanded-width u-group u-radius u-shape-round u-white u-group-2"
                                data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                                data-animation-direction="">
                                <div class="u-container-layout u-container-layout-4">
                                    <h6
                                        class="u-align-center-md u-align-right-lg u-align-right-sm u-align-right-xl u-align-right-xs u-align-right-xxl u-text u-text-1">
                                        <span class="u-file-icon u-icon u-icon-1"><img src="../../images/2356780.png"
                                                alt=""></span>&nbsp;قالب رقم 1
                                    </h6>
                                    <a href="#"
                                        class="u-btn u-btn-round u-button-style u-hover-feature u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-1"><span
                                            class="u-file-icon u-icon u-text-white u-icon-2"><img
                                                src="../../images/646157-2e845d81.png" alt=""></span>&nbsp;نشر
                                    </a>
                                </div>
                            </div>
                            <div
                                class="u-container-style u-expanded-width u-group u-radius u-shape-round u-white u-group-3">
                                <div class="u-container-layout u-container-layout-5">
                                    <h5 class="u-align-right u-text u-text-default u-text-2"> صورة</h5>
                                    <a href="#"
                                        class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-feature u-hover-white u-radius u-white u-btn-2"><span
                                            class="u-file-icon u-icon"><img src="../../images/6537820.png"
                                                alt=""></span>&nbsp;​اضافه صورة
                                    </a>
                                </div>
                            </div>
                            <div
                                class="u-container-style u-expanded-width u-group u-radius u-shape-round u-white u-group-4">
                                <div class="u-container-layout u-container-layout-6">
                                    <p class="u-align-right u-text u-text-custom-color-1 u-text-default u-text-3">الاسم
                                    </p>
                                    <div class="custom-expanded rtl u-align-right-xs u-form u-form-1">
                                        <form action="#"
                                            class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                                            source="email" name="form-1" style="padding: 10px;">
                                            <div class="u-form-group u-form-name">
                                                <label for="name-6a13" class="u-label u-label-1">الاسم</label>
                                                <input type="text" placeholder="ادخل اسمك بالكامل" id="name-6a13"
                                                    name="name" class="u-border-none u-input u-input-rectangle"
                                                    required="">
                                            </div>
                                            <div class="u-align-left u-form-group u-form-submit">
                                                <a href="#" class="u-btn u-btn-submit u-button-style u-btn-3"></a>
                                                <input type="submit" value="submit" class="u-form-control-hidden">
                                            </div>
                                            <div class="u-form-send-message u-form-send-success"> Thank you! Your
                                                message has been sent. </div>
                                            <div class="u-form-send-error u-form-send-message"> Unable to send your
                                                message. Please fix errors then try again. </div>
                                            <input type="hidden" value="" name="recaptchaResponse">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="u-container-style u-expanded-width u-group u-radius u-shape-round u-white u-group-5">
                                <div class="u-container-layout u-container-layout-7">
                                    <p class="u-align-right u-text u-text-custom-color-1 u-text-default u-text-4">
                                        الوظيفة</p>
                                    <div class="custom-expanded rtl u-align-right-xs u-form u-form-2">
                                        <form action="https://forms.nicepagesrv.com/v2/form/process"
                                            class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                                            source="email" name="form-1" style="padding: 10px;">
                                            <div class="u-form-group u-form-name">
                                                <label for="name-6a13" class="u-label u-label-2">مسمي الوظيفه</label>
                                                <input type="text" placeholder="ادخل مسمي الوظيفه" id="name-6a13"
                                                    name="name" class="u-border-none u-input u-input-rectangle"
                                                    required="">
                                            </div>
                                            <div class="u-align-left u-form-group u-form-submit">
                                                <a href="#" class="u-btn u-btn-submit u-button-style u-btn-4"></a>
                                                <input type="submit" value="submit" class="u-form-control-hidden">
                                            </div>
                                            <div class="u-form-send-message u-form-send-success"> Thank you! Your
                                                message has been sent. </div>
                                            <div class="u-form-send-error u-form-send-message"> Unable to send your
                                                message. Please fix errors then try again. </div>
                                            <input type="hidden" value="" name="recaptchaResponse">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="u-container-style u-expanded-width u-group u-radius u-shape-round u-white u-group-6">
                                <div class="u-container-layout u-container-layout-8">
                                    <p class="u-align-right u-text u-text-custom-color-1 u-text-default u-text-5"> نص
                                        المقدمة</p>
                                    <div
                                        class="u-container-style u-expanded-width u-grey-5 u-group u-radius u-shape-round u-group-7">
                                        <div class="u-container-layout u-container-layout-9"><span
                                                class="u-file-icon u-icon u-icon-4"><img src="../../images/3524386.png"
                                                    alt=""></span><span class="u-file-icon u-icon u-icon-5"><img
                                                    src="../../images/3524338.png" alt=""></span><span
                                                class="u-align-right u-file-icon u-icon u-icon-6"><img
                                                    src="../../images/2838908.png" alt=""></span><span
                                                class="u-file-icon u-icon u-icon-7"><img src="../../images/51078.png"
                                                    alt=""></span><span class="u-file-icon u-icon u-icon-8"><img
                                                    src="../../images/51082.png" alt=""></span><span
                                                class="u-file-icon u-icon u-icon-9"><img src="../../images/114303.png"
                                                    alt=""></span><span class="u-file-icon u-icon u-icon-10"><img
                                                    src="../../images/102555.png" alt=""></span>
                                            <div
                                                class="u-align-right-xs u-border-1 u-border-grey-25 u-line u-line-horizontal u-line-1">
                                            </div>
                                            <div class="custom-expanded rtl u-align-right-xs u-form u-form-3">
                                                <form action="https://forms.nicepagesrv.com/v2/form/process"
                                                    class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form"
                                                    source="email" name="form" style="padding: 10px;">
                                                    <div class="u-form-group u-form-message u-label-none">
                                                        <label for="email-539b" class="u-label">Email</label>
                                                        <textarea
                                                            placeholder="قدّم نفسك من خلال عرض مهاراتك وشرح كيف يمكن أن تكون ذات قيمة للشركة"
                                                            id="email-539b" name="email"
                                                            class="u-border-none u-grey-5 u-input u-input-rectangle u-radius u-input-3"></textarea>
                                                    </div>
                                                    <div class="u-align-left u-form-group u-form-submit u-label-none">
                                                        <a href="#"
                                                            class="u-btn u-btn-submit u-button-style u-btn-5"></a>
                                                        <input type="submit" value="submit"
                                                            class="u-form-control-hidden">
                                                    </div>
                                                    <div class="u-form-send-message u-form-send-success"> Thank you!
                                                        Your message has been sent. </div>
                                                    <div class="u-form-send-error u-form-send-message"> Unable to send
                                                        your message. Please fix errors then try again. </div>
                                                    <input type="hidden" value="" name="recaptchaResponse">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="u-container-align-right u-container-style u-expanded-width u-group u-radius u-shape-round u-white u-group-8">
                                <div class="u-container-layout u-container-layout-10">
                                    <p class="u-align-right u-text u-text-custom-color-1 u-text-default u-text-6">
                                        الروابط</p>
                                    <div class="custom-expanded rtl u-form u-form-4">
                                        <form action="https://forms.nicepagesrv.com/v2/form/process"
                                            class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                                            source="email" name="form-1" style="padding: 10px;">
                                            <div class="u-form-group u-form-name u-label-top">
                                                <label for="name-6a13" class="u-label u-label-4">Website</label>
                                                <input type="text" placeholder="ادخل الرابط" id="name-6a13" name="name"
                                                    class="u-border-none u-input u-input-rectangle" required="">
                                            </div>
                                            <div
                                                class="u-form-checkbox-group u-form-group u-form-input-layout-horizontal u-label-top u-form-group-8">
                                                <label class="u-label u-label-5">Checks</label>
                                                <div class="u-form-checkbox-group-wrapper">
                                                    <div class="u-input-row">
                                                        <input id="field-d689" type="checkbox" name="checkbox[]"
                                                            value="Website"
                                                            class="u-active-palette-1-base u-field-input u-white"
                                                            checked="checked" data-calc="Website">
                                                        <label class="u-field-label" for="field-d689"
                                                            style="font-weight: 700;">Website</label>
                                                    </div>
                                                    <div class="u-input-row">
                                                        <input id="field-3f70" type="checkbox" name="checkbox[]"
                                                            value="Email"
                                                            class="u-active-palette-1-base u-field-input u-white"
                                                            data-calc="Email">
                                                        <label class="u-field-label" for="field-3f70"
                                                            style="font-weight: 700;">Email</label>
                                                    </div>
                                                    <div class="u-input-row">
                                                        <input id="field-cd96" type="checkbox" name="checkbox[]"
                                                            value="LinkedIn"
                                                            class="u-active-palette-1-base u-field-input u-white"
                                                            data-calc="LinkedIn">
                                                        <label class="u-field-label" for="field-cd96"
                                                            style="font-weight: 700;">LinkedIn</label>
                                                    </div>
                                                    <div class="u-input-row">
                                                        <input id="field-c1ea" data-calc="X" type="checkbox"
                                                            name="checkbox[]" value="X"
                                                            class="u-active-palette-1-base u-field-input u-white">
                                                        <label class="u-field-label" for="field-c1ea"
                                                            style="font-weight: 700;">X</label>
                                                    </div>
                                                    <div class="u-input-row">
                                                        <input id="field-197d" data-calc="GitHub" type="checkbox"
                                                            name="checkbox[]" value="GitHub"
                                                            class="u-active-palette-1-base u-field-input u-white">
                                                        <label class="u-field-label" for="field-197d"
                                                            style="font-weight: 700;">GitHub</label>
                                                    </div>
                                                    <div class="u-input-row">
                                                        <input id="field-c0bf" data-calc="Discord" type="checkbox"
                                                            name="checkbox[]" value="Discord"
                                                            class="u-active-palette-1-base u-field-input u-white">
                                                        <label class="u-field-label" for="field-c0bf"
                                                            style="font-weight: 700;">Discord</label>
                                                    </div>
                                                    <div class="u-input-row">
                                                        <input id="field-7366" data-calc="Telegram" type="checkbox"
                                                            name="checkbox[]" value="Telegram"
                                                            class="u-active-palette-1-base u-field-input u-white">
                                                        <label class="u-field-label" for="field-7366"
                                                            style="font-weight: 700;">Telegram</label>
                                                    </div>
                                                    <div class="u-input-row">
                                                        <input id="field-d85b" data-calc="WhatsApp" type="checkbox"
                                                            name="checkbox[]" value="WhatsApp"
                                                            class="u-active-palette-1-base u-field-input u-white">
                                                        <label class="u-field-label" for="field-d85b"
                                                            style="font-weight: 700;">WhatsApp</label>
                                                    </div>
                                                    <div class="u-input-row">
                                                        <input id="field-ab91" data-calc="PayPal" type="checkbox"
                                                            name="checkbox[]" value="PayPal"
                                                            class="u-active-palette-1-base u-field-input u-white">
                                                        <label class="u-field-label" for="field-ab91"
                                                            style="font-weight: 700;">PayPal</label>
                                                    </div>
                                                    <div class="u-input-row">
                                                        <input id="field-a5e7" data-calc="YouTube" type="checkbox"
                                                            name="checkbox[]" value="YouTube"
                                                            class="u-active-palette-1-base u-field-input u-white">
                                                        <label class="u-field-label" for="field-a5e7"
                                                            style="font-weight: 700;">YouTube</label>
                                                    </div>
                                                    <div class="u-input-row">
                                                        <input id="field-a5a2" data-calc="Facebook" type="checkbox"
                                                            name="checkbox[]" value="Facebook"
                                                            class="u-active-palette-1-base u-field-input u-white">
                                                        <label class="u-field-label" for="field-a5a2"
                                                            style="font-weight: 700;">Facebook</label>
                                                    </div>
                                                    <div class="u-input-row">
                                                        <input id="field-acd5" data-calc="Instagram" type="checkbox"
                                                            name="checkbox[]" value="Instagram"
                                                            class="u-active-palette-1-base u-field-input u-white">
                                                        <label class="u-field-label" for="field-acd5"
                                                            style="font-weight: 700;">Instagram</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="u-align-left u-form-group u-form-submit u-label-top">
                                                <a href="#" class="u-btn u-btn-submit u-button-style u-btn-6"></a>
                                                <input type="submit" value="submit" class="u-form-control-hidden">
                                            </div>
                                            <div class="u-form-send-message u-form-send-success"> Thank you! Your
                                                message has been sent. </div>
                                            <div class="u-form-send-error u-form-send-message"> Unable to send your
                                                message. Please fix errors then try again. </div>
                                            <input type="hidden" value="" name="recaptchaResponse">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="u-container-align-right u-container-style u-expanded-width u-group u-radius u-shape-round u-white u-group-9">
                                <div class="u-container-layout u-container-layout-11">
                                    <p class="u-align-right u-text u-text-custom-color-1 u-text-default u-text-7"> ماذا
                                        تريد أن ترى؟</p>
                                    <div class="rtl u-expanded-width u-form u-form-5">
                                        <form action="https://forms.nicepagesrv.com/v2/form/process"
                                            class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"
                                            source="email" name="form-1" style="padding: 10px;">
                                            <p class="u-form-group u-form-text u-label-none u-text u-text-8"> جميع
                                                الأفكار والاقتراحات هي موضع ترحيب! واسمحوا لنا أن نعرف أفكارك. </p>
                                            <div class="u-form-group u-form-name u-label-none">
                                                <label for="name-6a13" class="u-label u-label-6">مسمي الوظيفة</label>
                                                <input type="text" placeholder="اكتب اقتراحتك وتحسيناتك هنا لنا"
                                                    id="name-6a13" name="name"
                                                    class="u-border-none u-input u-input-rectangle" required="">
                                            </div>
                                            <div class="u-align-left u-form-group u-form-submit u-label-none">
                                                <a href="#" class="u-btn u-btn-submit u-button-style u-btn-7"></a>
                                                <input type="submit" value="submit" class="u-form-control-hidden">
                                            </div>
                                            <div class="u-form-send-message u-form-send-success"> Thank you! Your
                                                message has been sent. </div>
                                            <div class="u-form-send-error u-form-send-message"> Unable to send your
                                                message. Please fix errors then try again. </div>
                                            <input type="hidden" value="" name="recaptchaResponse">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-size-6 u-layout-cell-3">
                        <div class="u-container-layout u-container-layout-12">
                            <div class="u-expanded-width u-list u-list-1">
                                <div class="u-repeater u-repeater-1">
                                    <div
                                        class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-round u-list-item-1">
                                        <div
                                            class="u-container-layout u-similar-container u-valign-middle u-container-layout-13">
                                            <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1"
                                                src="../../images/001-LOGO-03.png" alt="" data-image-width="2251"
                                                data-image-height="2250" data-href="dashboard.html">
                                        </div>
                                    </div>
                                    <div
                                        class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-round u-list-item-2">
                                        <div
                                            class="u-container-layout u-similar-container u-valign-middle u-container-layout-14">
                                            <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-2"
                                                src="../../images/1388394.png" alt="" data-image-width="128"
                                                data-image-height="128">
                                        </div>
                                    </div>
                                    <div onclick="toggleDivsection0()"
                                        class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-round u-list-item-3">
                                        <div
                                            class="u-container-layout u-similar-container u-valign-middle u-container-layout-15">
                                            <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-3"
                                                src="../../images/1076170.png" alt="" data-image-width="128"
                                                data-image-height="128">
                                        </div>
                                    </div>
                                    <div
                                        class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-round u-list-item-4">
                                        <div
                                            class="u-container-layout u-similar-container u-valign-middle u-container-layout-16">
                                            <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-4"
                                                src="../../images/web.png" alt="" data-image-width="512"
                                                data-image-height="512">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>






    </section>
    <section class="u-clearfix u-grey-10 u-section-2" id="section2" style="display:none;">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div
                        class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-size-33 u-layout-cell-1">
                        <div class="u-container-layout u-container-layout-1">
                            <iframe src="Website.html" width="100%" height="1000px"
                                style="border: none; overflow: hidden;"></iframe>
                        </div>
                    </div>
                    <div class="u-container-style u-layout-cell u-size-21 u-layout-cell-2">
                        <div class="u-container-layout u-valign-top-xs u-container-layout-3">
                            <div class="u-container-style u-expanded-width u-group u-radius u-shape-round u-white u-group-2"
                                data-animation-name="" data-animation-duration="0" data-animation-delay="0"
                                data-animation-direction="">
                                <div class="u-container-layout u-container-layout-4">
                                    <h6
                                        class="u-align-center-md u-align-right-lg u-align-right-sm u-align-right-xl u-align-right-xs u-align-right-xxl u-text u-text-2">
                                        <span class="u-file-icon u-icon u-icon-1"><img src="../../images/2356780.png"
                                                alt=""></span>&nbsp;قالب رقم 1
                                    </h6>
                                    <a href="#"
                                        class="u-btn u-btn-round u-button-style u-hover-feature u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-1"><span
                                            class="u-file-icon u-icon u-text-white u-icon-2"><img
                                                src="../../images/646157-2e845d81.png" alt=""></span>&nbsp;نشر
                                    </a>
                                </div>
                            </div>
                            <div
                                class="u-container-style u-expanded-width u-group u-radius u-shape-round u-white u-group-3">
                                <div class="u-container-layout u-container-layout-5">
                                    <h5 class="u-align-right u-text u-text-default u-text-3"> أفكار التصميم</h5>
                                    <p class="u-align-right u-text u-text-custom-color-7 u-text-default u-text-4"> تصفح
                                        بعض نقاط البداية لموقعك على الويب لتبدأ من خلال ركنك الشخصي على الإنترنت.</p>
                                    <a href="#"
                                        class="u-border-2 u-border-palette-2-base u-btn u-btn-round u-button-style u-hover-feature u-hover-palette-2-base u-none u-radius u-text-body-color u-text-hover-palette-1-base u-btn-2">
                                        اختر تصميم</a>
                                </div>
                            </div>
                            <div
                                class="u-container-style u-expanded-width u-group u-radius u-shape-round u-white u-group-4">
                                <div class="u-container-layout u-container-layout-6">
                                    <p class="u-align-right u-text u-text-custom-color-1 u-text-default u-text-5">
                                        تَخطِيط</p>
                                    <div class="u-list u-list-1">

                                        <div class="u-repeater u-repeater-1">
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-7">
                                                    <img class="u-align-center u-image u-image-default u-preserve-proportions u-image-1"
                                                        src="../../images/2024-07-22110809.png" alt=""
                                                        data-image-width="146" data-image-height="150" id="img1"
                                                        onclick="changeImage(1)">
                                                    <h6 class="u-align-center u-text u-text-default u-text-6">يمين</h6>
                                                </div>
                                            </div>
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-8">
                                                    <img class="u-align-center u-image u-image-default u-preserve-proportions u-image-2"
                                                        src="../../images/2024-07-221112391.png" alt=""
                                                        data-image-width="150" data-image-height="146" id="img2"
                                                        onclick="changeImage(2)">
                                                    <h6 class="u-align-center u-text u-text-default u-text-7">يسار</h6>
                                                </div>
                                            </div>
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-9">
                                                    <img class="u-align-center u-image u-image-default u-preserve-proportions u-image-3"
                                                        src="../../images/2024-07-221110421.png" alt=""
                                                        data-image-width="150" data-image-height="146" id="img3"
                                                        onclick="changeImage(3)">
                                                    <h6 class="u-align-center u-text u-text-default u-text-8">اعلى</h6>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div
                                class="u-container-style u-expanded-width u-group u-radius u-shape-round u-white u-group-5">
                                <div class="u-container-layout u-container-layout-10">
                                    <p class="u-align-right u-text u-text-custom-color-1 u-text-default u-text-9">
                                        الالوان</p>


                                    <div class="u-align-right u-list u-list-2">
                                        <div class="u-repeater u-repeater-2">
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-11">
                                                    <img class="u-align-center u-image u-image-default u-preserve-proportions u-image-4"
                                                        src="../../images/2024-07-22112713.png" alt=""
                                                        data-image-width="150" data-image-height="147" id="img4"
                                                        onclick="changeImage(4)">
                                                    <h6 class="u-align-center u-text u-text-default u-text-10">اطار</h6>
                                                </div>
                                            </div>
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-12">
                                                    <img class="u-align-center u-image u-image-default u-preserve-proportions u-image-5"
                                                        src="../../images/2024-07-22112701.png" alt=""
                                                        data-image-width="150" data-image-height="147" id="img5"
                                                        onclick="changeImage(5)">
                                                    <h6 class="u-align-center u-text u-text-default u-text-11">متقدم
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-13">
                                                    <img class="u-align-center u-image u-image-default u-preserve-proportions u-image-6"
                                                        src="../../images/2024-07-22112649.png" alt=""
                                                        data-image-width="150" data-image-height="147" id="img6"
                                                        onclick="changeImage(6)">
                                                    <h6 class="u-align-center u-text u-text-default u-text-12">اساسي
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="u-align-right u-list u-list-3">
                                        <div class="u-repeater u-repeater-3">
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-14">
                                                    <img class="u-align-center u-image u-image-contain u-image-default u-image-7"
                                                        src="../../images/2024-07-22113425.png" alt=""
                                                        data-image-width="150" data-image-height="74" id="img7"
                                                        onclick="changeImage(7)">
                                                    <h6 class="u-align-center u-text u-text-default u-text-13"> صورة
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-15">
                                                    <img class="u-align-center u-image u-image-contain u-image-default u-image-8"
                                                        src="../../images/2024-07-22113413.png" alt=""
                                                        data-image-width="150" data-image-height="75" id="img8"
                                                        onclick="changeImage(8)">
                                                    <h6 class="u-align-center u-text u-text-default u-text-14"> متعدد
                                                        الألوان</h6>
                                                </div>
                                            </div>
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-16">
                                                    <img class="u-align-center u-image u-image-contain u-image-default u-image-9"
                                                        src="../../images/2024-07-22113359.png" alt=""
                                                        data-image-width="150" data-image-height="74" id="img9"
                                                        onclick="changeImage(9)">
                                                    <h6 class="u-align-center u-text u-text-default u-text-15">اساسي
                                                    </h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div
                                class="u-container-style u-expanded-width u-group u-radius u-shape-round u-white u-group-7">
                                <div class="u-container-layout u-container-layout-24">
                                    <p class="u-align-right u-text u-text-custom-color-1 u-text-default u-text-17"> رأس
                                        الصفحة</p>

                                    <!-- القسم الأول -->
                                    <div class="u-align-right u-list u-list-6">
                                        <div class="u-repeater u-repeater-6">
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-25">
                                                    <img class="u-align-center u-image u-image-contain u-image-default u-image-16"
                                                        src="../../images/2024-08-03091501.png" alt=""
                                                        data-image-width="125" data-image-height="60" id="img16"
                                                        onclick="changeImage(16)">
                                                </div>
                                            </div>
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-26">
                                                    <img class="u-align-center u-image u-image-contain u-image-default u-image-17"
                                                        src="../../images/2024-08-03091452.png" alt=""
                                                        data-image-width="125" data-image-height="60" id="img17"
                                                        onclick="changeImage(17)">
                                                </div>
                                            </div>
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-27">
                                                    <img class="u-align-center u-image u-image-contain u-image-default u-image-18"
                                                        src="../../images/2024-08-03091440.png" alt=""
                                                        data-image-width="125" data-image-height="60" id="img18"
                                                        onclick="changeImage(18)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- القسم الثاني -->
                                    <div class="u-align-right u-expanded-width u-list u-list-7">
                                        <div class="u-repeater u-repeater-7">
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-28">
                                                    <img class="u-align-center u-image u-image-contain u-image-default u-image-19"
                                                        src="../../images/2024-08-03091858.png" alt=""
                                                        data-image-width="172" data-image-height="40" id="img19"
                                                        onclick="changeImage(19)">
                                                </div>
                                            </div>
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-29">
                                                    <img class="u-align-center u-image u-image-contain u-image-default u-image-20"
                                                        src="../../images/2024-08-03091850.png" alt=""
                                                        data-image-width="172" data-image-height="40" id="img20"
                                                        onclick="changeImage(20)">
                                                </div>
                                            </div>
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-container-layout-30">
                                                    <img class="u-align-center u-image u-image-contain u-image-default u-image-21"
                                                        src="../../images/2024-08-03091841.png" alt=""
                                                        data-image-width="172" data-image-height="40" id="img21"
                                                        onclick="changeImage(21)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- القسم الثالث -->
                                    <div class="custom-expanded u-align-right u-list u-list-8">
                                        <div class="u-repeater u-repeater-8">
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-valign-top u-container-layout-31">
                                                    <img class="u-align-center u-image u-image-contain u-image-default u-image-22"
                                                        src="../../images/2024-08-03092011.png" alt=""
                                                        data-image-width="172" data-image-height="40" id="img22"
                                                        onclick="changeImage(22)">
                                                </div>
                                            </div>
                                            <div class="u-container-style u-list-item u-repeater-item">
                                                <div
                                                    class="u-container-layout u-similar-container u-valign-top u-container-layout-32">
                                                    <img class="u-align-center u-image u-image-contain u-image-default u-image-23"
                                                        src="../../images/2024-08-03091934.png" alt=""
                                                        data-image-width="172" data-image-height="40" id="img23"
                                                        onclick="changeImage(23)">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div
                        class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-size-6 u-layout-cell-3">
                        <div class="u-container-layout u-valign-top u-container-layout-33">
                            <div class="u-expanded-width u-list u-list-9">
                                <div class="u-repeater u-repeater-9">
                                    <div
                                        class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-round u-list-item-24">
                                        <div
                                            class="u-container-layout u-similar-container u-valign-middle u-container-layout-34">
                                            <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-24"
                                                src="../../images/001-LOGO-03.png" alt="" data-image-width="2251"
                                                data-image-height="2250" data-href="dashboard.html">
                                        </div>
                                    </div>
                                    <div onclick="toggleDivsection0()"
                                        class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-round u-list-item-25">
                                        <div
                                            class="u-container-layout u-similar-container u-valign-middle u-container-layout-35">
                                            <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-25"
                                                src="../../images/1388394.png" alt="" data-image-width="128"
                                                data-image-height="128">
                                        </div>
                                    </div>
                                    <div
                                        class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-round u-list-item-26">
                                        <div
                                            class="u-container-layout u-similar-container u-valign-middle u-container-layout-36">
                                            <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-26"
                                                src="../../images/1076170.png" alt="" data-image-width="128"
                                                data-image-height="128">
                                        </div>
                                    </div>
                                    <div
                                        class="u-container-style u-hover-feature u-list-item u-repeater-item u-shape-round u-list-item-27">
                                        <div
                                            class="u-container-layout u-similar-container u-valign-middle u-container-layout-37">
                                            <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-27"
                                                src="../../images/web.png" alt="" data-image-width="512"
                                                data-image-height="512">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </section>




    <script src="../js/write-web.js"></script>






</body>

</html>